In [2]:
import sqlite3

In [8]:
conn = sqlite3.connect("student.db")

In [32]:
#task1 
conn.execute("CREATE TABLE students\
             (stud_fname CHAR(10) NOT NULL,\
             stud_lname CHAR(10) NOT NULL, \
             stud_age int, \
             stud_mobnum int ,\
             stud_address varchar(50) ,\
             stud_id char(10) PRIMARY KEY NOT NULL)")

In [33]:
conn.execute("CREATE TABLE unit\
             (Unit_code char(10) not null ,\
             Unit_name char(10) ,\
             unit_sem integer) ")

In [34]:
conn.execute("CREATE TABLE enrolmet\
             (stud_id CHAR(10) ,\
             unit_code CHAR(10) , \
             unit_sem int, \
             enrol_mark int , \
             enrol_grade char(10), \
             FOREIGN KEY(stud_id) references students(stud_id) ) ")

In [35]:
#task 2
conn.execute("Insert into students VALUES('stu000','mithun','NM',26,9874563210,'Bangalore') ")
conn.execute("Insert into students VALUES('stu001','sourabh','tiwari',29,8756485214,'hyderabad' )")
conn.execute("Insert into students VALUES('stu002','abhishek','nayar',30,996644880,'mumbai' )")
conn.execute("Insert into students VALUES('stu003','rahul','sharma',28,7788994455,'dehli' )")

"""             
conn.execute("Insert into students VALUES('stu004','rajesh','M',25,7858456124,'Sangli')")
conn.execute("Insert into students VALUES('stu005','kalinga','A',26,6987458512,'gulbarga')")
conn.execute("Insert into students VALUES('stu006','rohit','P',26,7985467852,'sindgi')")
conn.execute("Insert into students VALUES('stu007','kamlesh','H',27,9874568475,'bangalore')")
"""

In [37]:
conn.execute("Insert into unit VALUES('PHY01','Physics',2) ")
conn.execute("Insert into unit VALUES('CHM02','Chemistry',1)")
conn.execute("Insert into unit VALUES('CSE01','Computer Science',3)")
conn.execute("Insert into unit VALUES('Uni01','unix',4)")
conn.execute("Insert into unit VALUES('DataStr0','Data Struture',5)")

In [42]:

conn.execute("Insert into enrolmet VALUES('stu000','PHY01',2,70,'B')")
conn.execute("Insert into enrolmet VALUES('stu001','CHM02',1,85,'A')")
conn.execute("Insert into enrolmet VALUES('stu002','CHM02',1,65,'C')")
conn.execute("Insert into enrolmet VALUES('stu003','CSE01',3,55,'P')")
conn.execute("Insert into enrolmet VALUES('stu004','PHY01',2,92,'S')")
conn.execute("Insert into enrolmet VALUES('stu005','uni01',4,69,'C')")
conn.execute("Insert into enrolmet VALUES('stu006','datastr0',5,81,'A')")
conn.execute("Insert into enrolmet VALUES('stu007','CHM02',1,91,'S')")

In [48]:
#Task 3 A.
conn.execute("select * from students where stud_id in (select stud_id from enrolmet where enrol_mark>70 )")

In [50]:
#B .
conn.execute("select a.stud_id, a.stud_fname,b.unit_name  from students a , unit b \
           where b.unit_sem=2 ")

In [51]:
# C.
conn.execute("select enrol_grade from enrolmet where unit_sem=1")

In [52]:
#task 4
conn.execute("delete from students")

In [53]:
conn.execute("delete from unit")

In [54]:
conn.execute("delete from enrolmet")